[submodule "vendors/ReduxFramework"]
	path = vendors/ReduxFramework
	url = git@github.com:ReduxFramework/ReduxFramework.git
[submodule "vendors/wp-less"]
	path = vendors/wp-less
	url = git@github.com:oncletom/wp-less.git
