/*!
 * Info Box
 */

 .ec-info-box{
 	text-align: center;
 	&.image-media{
 		border: 1px solid #EAEAEA;
 		text-align: left;
 		.info-data{
 			position: relative;
 			background: #F9F9F9;
 			display: inline-block;
 			padding: 0 15px;
 			p{
 				margin:0 0 0;
 				padding: 0 0 11px;
 			}
 		}
 		.indicator-up{
			border-bottom: 15px solid #F9F9F9;
			border-left: 15px solid transparent;
			border-right: 15px solid transparent;
			height: 0;
			right: 20px;
			top:-15px;
 			position: absolute;
 			width: 0;
 			z-index: 10;
 		}
 		.media{
 			position: relative;
 			.mask{
	 			.opacity(0);
	 			.transition(all 0.2s linear);
	 			display: block;
	 			height: 100%;
	 			left: 0px;
	 			position: absolute;
	 			top: 0px;
	 			width: 100%;
	 			z-index: 9;
	 			text-align: center;
	 			background-position: 50% 50%;
	 			background-repeat: no-repeat;
	 			background-size: 57px 57px;
	 		}
	 		&:hover{
	 			.mask{
	 				.opacity(.75);
	 				.transition(all 0.2s linear);
	 			}
	 		}
 		}
 	}
 	.circle-icon{
 		border-radius: 50%;
 		border-bottom-right-radius: 0;
 		-webkit-border-bottom-right-radius: 0;
 		-moz-border-radius-bottomright: 0;
 		box-shadow: 0 0 0 4px #f2f2f2;
 		height: 60px;
 		margin: 0 auto;
 		position: relative;
 		width: 60px;
 		.transition(all 0.2s linear);
 		.fa{
 			.transition(all 0.2s linear);
 			color: white;
 			font-size: 30px;
 			margin-top: 16px;
 		}
 		&:hover{
 			.fa{
 				.transition(all 0.2s linear);
 				color: #f2f2f2;
 			}
 			&:after{
				.opacity(0);
				.scale(1.35);
				.transition(all 0.2s linear);
 			}
 		}
 		&:after{
	        .transition(all 0.2s linear);
	        background: #f2f2f2;
	        border-radius: 50%;
	        border-bottom-right-radius: 0;
 			-webkit-border-bottom-right-radius: 0;
 			-moz-border-radius-bottomright: 0;
	        content: '';
	        height: 64px;
	        left: -2px;
	        position: absolute;
	        top:-2px;
	        z-index: -1;
 			width: 64px;
 		}
 	}
 	.info-title{
 		font-size: 1.1em;
 		font-weight: 400;
 		text-transform: uppercase;

 	}
 	.description{
 		font-size: 1em;
 	}
 	.learn-more{
 		text-transform: uppercase;
 	}
 }

 /*!
 * Call to action
 */

.ec-call-to-action{
	h2{
		font-size: 1.7em;
		padding: 20px;
		margin: 15px 0;
	}
	.call-text{
		display: inline-block;
		float: left;
		width: 75%;
		background: #f2f2f2;
		h2{
			padding-right: 0px;
		}
	}
	.call-button{
		display: inline-block;
		width: 25%;
		background: black;
		position: relative;
		a{
			text-decoration: none;
			h2{
				text-align: center;
			}
		}
		.tab-pointer {
			position: absolute;
			width: 50px;
			height: 100%;
			top: 0px;
			left: 0px;

			.triangle{
				border-top-width: 49px;
				border-top-style: solid;
				border-top-color: transparent;
				border-bottom-width: 49px;
				border-bottom-style: solid;
				border-bottom-color: transparent;
				border-left-width: 30px;
				border-left-style: solid;
				border-left-color: #f2f2f2;
			}
		}
	}
}

.with-border{
	border-top: 1px solid rgba(0,0,0,.1);
	border-bottom: 1px solid rgba(0,0,0,.1);
	padding-top: 35px;
}

