/*!
 * GeoPoint Custom Color // Admin Options Less Compiler.
 */

//@accentColor    = #9295CA;
@topNavBg       = @accentColor;
@menuColorHover = @accentColor;

@topNavColor    = white;
@menuColor      = #838383;


body {
	background: @siteBgColor;
	font: @siteFont;
	color: @siteFontColor;
	a{
		color:@accentColor;
		&:hover{
			color:@accentColor;
			text-decoration: underline;
		}
	}
}



header{
	.main-nav{
		background: white;
		box-shadow: 0px 1px 5px rgba(0,0,0, .1);
	}
   .gp-main-nav{
		li{
			a{
	            border-bottom: 2px solid white;
	            color:@menuColor;
	            &:hover{
	               border-bottom: 2px solid @menuColorHover;
	               color:@menuColorHover;
	               .caret{
	                  border-top: 4px solid @menuColorHover;
	               }
	            }
            	.caret{
               		border-top: 4px solid @menuColor;
            	}
         	}

         	&.active,
         	&.open{
            	a{
               		border-bottom: 2px solid @menuColorHover;
               		color:@menuColorHover;
               		.caret{
					border-top: 4px solid @menuColorHover;
				}
            }
         }

		&.open{
			a{
				border-bottom: 2px solid white !important;
            }
         }
		.dropdown-menu{
			background-color: white;
			border-top: 1px solid rgba( 0, 0, 0, .05 );
			border-bottom: 3px solid @accentColor;
            li{
				a{
					color: @menuColor;
					border-bottom: 1px solid rgba( 0, 0, 0, .05 ) !important;
					&:hover,
					&:focus{
						color: @menuColorHover;
						color: @accentColor;
						background-color: rgba(0, 0, 0, .01);
					}
                }
                &.active{
					a{
						color: @menuColorHover;
						color: rgba(255, 255, 255, 1);
						background-color: rgba(0, 0, 0, 0.1) !important;
                  	}
                }
            }
        }
      }
   }
   &.search-on-top{
      .search-form{
         .form-control
         {
            background-image: url( '@{template_directory_uri}/assets/img/search-icon@2x.png');
            background-color: #f5f5f5;
            background-repeat: no-repeat;
            background-size: 14px 14px;
            background-position: 98% center;
         }
         .search-submit{
            &.btn-default{
               color:white;
               background: @accentColor;
               border: 1px solid @accentColor;
            }
         }
      }
      .gp-top-nav{
         li{
            a{
               color:@menuColor;
            }
         }
      }
   }
   &.default{
      .top-nav{
         background: @topNavBg;
         color: @topNavColor;
         .gp-top-nav{
            li{
               a{
                  color:@topNavColor;
               }
            }
         }
      }
   }
}

/*!
 * Info Box
 */

.ec-info-box{
	.circle-icon{
		box-shadow: 0 0 0 4px @accentColor;
		.fa{
			color:@siteBgColor;
		}
		&:hover{
			.fa{
				color:@accentColor;
			}
		}
		&:after{
			background: @accentColor;
		}
	}
	.info-title{
		a{
			color: @siteFontColor;
			&:hover{
				color: @accentColor;
				text-decoration: none;
			}
		}
	}
	&.image-media{
		.media{
			.mask{
				background-color: @accentColor;
				background-image: url( '@{template_directory_uri}/assets/img/plus-border@2x.png');
			}
		}
	}
}






/* ==========================================================================
   Primary Content
   ========================================================================== */

.main { }

/* Gallery Shortcode */
.gallery-row { padding: 15px 0; }



/* ==========================================================================
   Sidebar
   ========================================================================== */

.sidebar { }



/* ==========================================================================
   Posts
   ========================================================================== */

.hentry header { }
.hentry time { }
.hentry .byline { }
.hentry .entry-content { }
.hentry footer { }



/* ==========================================================================
   Footer
   ========================================================================== */

.content-info { }



/* ==========================================================================
   WordPress Generated Classes
   See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
   ========================================================================== */

.aligncenter { display: block; margin: 0 auto; }
.alignleft { float: left; }
.alignright { float: right; }
figure.alignnone { margin-left: 0; margin-right: 0; }
.wp-caption{text-align: left;}
.wp-caption-text {text-align: left;}
.gallery-caption {text-align: left;}
.bypostauthor{text-align: left;}

