/*!
 * GeoPoint Custom Color // Admin Options Less Compiler.
 */

//@accentColor    = #9295CA;
@topNavBg       = @accentColor;
@menuColorHover = @accentColor;
@topNavColor    = white;
@menuColor      = #838383;
/*!
* Default color for Progress Bar Section
*/
@globalBlue 	= #21c2f8;
@globalOrange   = #ffaa00;
@globalGreen    = #44d345;
@globalGrey     = #9aa7af;
@globalRed      = #ed1c24;
@globalBlack    = #2f383d;
/*!
* Default color for Info Messages Section
*/

@messageInfoBg = #D9EDF7;
@messageInfoColor = #3A87AF;
@messageInfoBorder = #bce8f1;

@messageSuccessBg = #dff0d8;
@messageSuccessColor = #468847;
@messageSuccessBorder = #d6e9c6;

@messageErrorBg = #f2dede;
@messageErrorColor = #b94a48;
@messageErrorBorder = #eed3d7;

@messageWarningBg = #fcf8e3;
@messageWarningColor = #c09853;
@messageWarningBorder = #fbeed5;

//TODO
@headerFontColor = #444;

body {
	background: @siteBgColor;
	font: @siteFont;
	color: @siteFontColor;
	a{
		color:@accentColor;
		&:hover{
			color:@accentColor;
			text-decoration: underline;
		}
	}
}

::selection {
	background: @accentColor;
	color: white;
	text-shadow: none;
}

input,
textarea,
isindex,
keygen,
select{
	border: 1px solid @borderColor;
}

input{
	&:focus{
		border: 1px solid @accentColor;
	}
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
	font-family: @siteFontFamily;
	color: @headerFontColor;
}
form{
	label{
		color: @headerFontColor;
	}
}
.boxed{
	background: @boxBgColor;
	box-shadow: 0px 0px 10px rgba(0,0,0, .2);
	header{
		box-shadow: 0px 0px 0px rgba(0,0,0, .1);
	}

}

blockquote{
	font-style: italic !important;
	border-left: 5px solid @accentColor;
	background-color: rgba(0,0,0, 0.02);
	font-size: 1.05em;
	p{
		font-size: 1.05em;
	}

}

header{
	.main-nav{
		background: white;
		box-shadow: 0px 1px 5px rgba(0,0,0, .1);
	}
   .gp-main-nav{
		li{
			a{
	            border-bottom: 2px solid white;
	            color:@menuColor;
	            &:hover{
	               border-bottom: 2px solid @menuColorHover;
	               color:@menuColorHover;
	               .caret{
	                  border-top: 4px solid @menuColorHover;
	               }
	            }
            	.caret{
               		border-top: 4px solid @menuColor;
            	}
         	}

         	&.active,
         	&.open{
            	a{
               		border-bottom: 2px solid @menuColorHover;
               		color:@menuColorHover;
               		.caret{
					border-top: 4px solid @menuColorHover;
				}
            }
         }

		&.open{
			a{
				border-bottom: 2px solid white !important;
            }
         }
		.dropdown-menu{
			background-color: white;
			border-top: 1px solid rgba( 0, 0, 0, .05 );
			border-bottom: 3px solid @accentColor;
            li{
				a{
					color: @menuColor;
					border-bottom: 1px solid @borderColor !important;
					&:hover,
					&:focus{
						color: @menuColorHover;
						color: @accentColor;
						background-color: rgba(0, 0, 0, .03);
					}
                }
                &.active{
					a{
						color: @menuColorHover;
						background-color: rgba(0, 0, 0, 0.03) !important;
                  	}
                }
            }
        }
      }
   }
   &.search-on-top{
      .gp-top-nav{
         li{
            a{
               color:@menuColor;
            }
         }
      }
   }
   &.default{
      .top-nav{
         background: @topNavBg;
         color: @topNavColor;
         .gp-top-nav{
            li{
               a{
                  color:@topNavColor;
               }
            }
         }
      }
   }
}
.search-form{
 .form-control
 {
    background-image: url( '@{template_directory_uri}/assets/img/search-icon@2x.png');
    background-color: #f5f5f5;
    background-repeat: no-repeat;
    background-size: 14px 14px;
    background-position: 98% center;
 }
 .search-submit{
    &.btn-default{
       color: white;
       background: @accentColor;
       border: 1px solid @accentColor;
    }
 }
}

/*!
 * Info Box
 */

.ec-info-box{
	.circle-icon{
		box-shadow: 0 0 0 4px @accentColor;
		.fa{
			color:@siteBgColor;
		}
		&:hover{
			.fa{
				color:@accentColor;
			}
		}
		&:after{
			background: @accentColor;
		}
	}
	.info-title{
		a{
			color: @siteFontColor;
			&:hover{
				color: @accentColor;
				text-decoration: none;
			}
		}
	}
	&.image-media{
		.media{
			.mask{
				background-color: @accentColor;
				background-image: url( '@{template_directory_uri}/assets/img/plus-border@2x.png');
			}
		}
	}
}

/*!
 * General Blocks
 */

/*!
 * Text Title
 */

.vc_text_separator{
	background: url( '@{template_directory_uri}/assets/img/patterns/pattern-stripes.png') no-repeat 50% 50%;
	border-bottom:0 none !important;
	display: inline-block;
	height: 100% !important;
	left: 0px;
	top: 0px;
	width: 100% !important;
 	background-repeat: repeat-x;
	/*The title Div*/
	div{
		display: inline-table !important;
		font-size: 1.5em;
		font-weight: 700;
		left: 0px !important;
		padding: 0px 1.5em 0 0 !important;
		top: 0px !important;
	}
	&.separator_align_center{
		div{
			padding: 0px 1.5em!important;
		}
	}
	&.separator_align_right{
		div{
			padding: 0px 0  0 1.5em!important;
		}
	}
}

/*!
 * Tabs
 */
.wpb_tabs{
	.wpb_tour_tabs_wrapper{
		.wpb_tab{
			background-color: @siteBgColor !important;
			border: 1px solid @borderColor;
			padding: 2em !important;
		}
	}
	.wpb_tabs_nav {
		li{
			background-color: @accentColor !important;
			border-bottom: 1px solid @accentColor;
			border-left: 1px solid @accentColor;
			border-right: 1px solid @accentColor;
			border-top: 1px solid @accentColor;
			font-size: 1.3em !important;
			font-weight: 400;
			margin: 5px 3px 0 0 !important;
			position: relative;
			top:1px !important;
			a{
				color: @siteBgColor !important;
				padding: .75em 1.5em!important;
			}
			&.ui-tabs-active{
				background-color: @siteBgColor !important;
				border-bottom: 1px solid @siteBgColor;
				border-left: 1px solid @borderColor;
				border-right: 1px solid @borderColor;
				border-top: 1px solid @borderColor;
				top: 1px;
				a{
					color: @accentColor !important;
				}
			}
		}
	}
}

/*!
 * Tabs Tour
 */
.wpb_tour{
	.wpb_tour_tabs_wrapper{
		.wpb_tab{
			background-color: @siteBgColor !important;
			border: 1px solid @borderColor;
			padding: 0 2em !important;
		}
	}
	.wpb_tabs_nav {
		li{
			background-color: @siteBgColor !important;
			border-bottom: 1px solid @siteBgColor;
			border-left: 1px solid @siteBgColor;
			border-right: 1px solid @siteBgColor;
			border-top: 1px solid @siteBgColor;
			font-size: 1.3em !important;
			font-weight: 400;
			margin: 0 3px 0 0 !important;
			position: relative;
			top:1px !important;
			a{
				color: @accentColor !important;
				padding: .5em 1em!important;
				border: 1px solid @borderColor !important;
			}
			&.ui-tabs-active{
				background-color: @accentColor !important;
				top: 1px;
				a{
					color: @siteBgColor !important;
					border: 1px solid @accentColor !important;
				}
			}
		}
	}
}

/*!
 * Progress Bar
 */

.vc_progress_bar {
	.vc_single_bar{
		position: relative;
		margin-bottom: 30px !important;
		&.bar_blue{
			.vc_bar{
				background-color: @globalBlue !important;
			}
		}
		&.bar_black{
			.vc_bar{
				background-color: @globalBlack !important;
			}
		}
		&.bar_red{
			.vc_bar{
				background-color: @globalRed !important;
			}
		}
		&.bar_grey{
			.vc_bar{
				background-color: @globalGrey !important;
			}
			.vc_label{
				color: white !important;
			}
		}
		&.bar_green{
			.vc_bar{
				background-color: @globalGreen !important;
			}
		}
		&.bar_orange{
			.vc_bar{
				background-color: @globalOrange !important;
			}
		}
	}
	.vc_label{
		font-size: 1em !important;
	}
	.vc_label_units{
		padding: 0.5em 1em;
		float: right;
		right: 10px;
		color: white;
	}
}
/*!
 * Alerts
 */
.wpb_alert{
	background-color: @messageWarningBg !important;
	border-color: @messageWarningBorder !important;
	color:@messageWarningColor !important;
	.messagebox_text{
		background: url( '@{template_directory_uri}/assets/img/icons/warning.png') no-repeat 0% 50% !important;
		background-size: 18px 18px !important;
	}
}
.wpb_alert-info{
	background-color: @messageInfoBg !important;
	border-color: @messageInfoBorder !important;
	color:@messageInfoColor !important;
	.messagebox_text{
		background: url( '@{template_directory_uri}/assets/img/icons/info.png') no-repeat 0% 50% !important;
		background-size: 14px 18px !important;
	}
}
.wpb_alert-success{
	background-color: @messageSuccessBg !important;
	border-color: @messageSuccessBorder !important;
	color:@messageSuccessColor !important;
	.messagebox_text{
		background: url( '@{template_directory_uri}/assets/img/icons/success.png') no-repeat 0% 50% !important;
		background-size: 18px 18px !important;
	}
}
.wpb_alert-danger,
.wpb_alert-error{
	background-color: @messageErrorBg !important;
	border-color: @messageErrorBorder !important;
	color:@messageErrorColor !important;
	.messagebox_text{
		background: url( '@{template_directory_uri}/assets/img/icons/error.png') no-repeat 0% 50% !important;
		background-size: 18px 18px !important;
	}
}


/*!
 * Toogle
 */

h4{
	&.wpb_toggle{
		border: 1px solid @borderColor;
		color: @accentColor;
	}
}

/*!
 * Accordion
 */
.wpb_accordion_header{
	background-color: @siteBgColor !important;
	border: 1px solid @borderColor;
	color: @accentColor;
}



/*!
 * Posts Grid
 */
.wpb_teaser_grid{
	margin-top: 1em;
	ul.wpb_thumbnails{
		li{
			border: 1px solid @borderColor;
			padding: 15px !important;
			background-color: white;
			h2{
				font-size: 1.5em;
				margin-top: 15px !important;
			}
			.entry-content{
				margin-bottom: 10px;
			}
			.vc_read_more{
				font-size: .8em;
			}
		}
	}
}


/*!
 * Blog
 */
.bloged{
	h2{
		&.entry-title{
			a{
				color: @headerFontColor;
				&:hover{
					color: @accentColor;
					text-decoration: none;
				}
			}
		}
	}

	img{
		border: 1px solid @borderColor;
	}

	.main{
		article{
		}
	}
	article{
		header{
			.is_sticky{
				background-color: @accentColor;
				color: white;
			}
		}
	}
	.post-meta{
		color:#888;
		.byline{
			span{
				&.cats{
					a{
						border: 1px solid @borderColor;
						&:hover{
							background-color: @accentColor;
							color: white;
						}
					}
				}
			}
		}
	}
	.entry-content{
		span{
			&.cats{
				a{
					border: 1px solid @borderColor;
					&:hover{
						background-color: @accentColor;
						color: white;
					}
				}
			}
		}
	}
	.entry-meta-bottom{
		border-bottom: 1px solid @borderColor;
		border-top: 1px solid @borderColor;
		color: #888;
	}
	.page-nav{
		border-top: 1px solid @borderColor;
		color: #888;
	}
	.posts-nav{
		color: #888;
		border-bottom: 1px solid @borderColor;
	}
	.post-author{
		border-bottom: 1px solid @borderColor;
	}

	#comments{
		border-bottom: 1px solid @borderColor;
		.comment-reply-link{
			border: 1px solid @borderColor;
			&:hover{
				background-color: @accentColor;
				color:white;
			}
		}
	}
}

.page-title{
	background-color: @accentColor;
}

.sidebar{
	h3{
		&:after{
			background-color: @borderColor;
		}
	}
}

.tagcloud{
	a{
		border: 1px solid @borderColor;
		&:hover{
			background-color: @accentColor;
			color:white;
		}
	}
}

.search{
	article{
		border-bottom: 1px solid @borderColor;
	}
}


.btn-primary,
.btn-default {
	background-color: @accentColor;
	color:white;
	&:hover{
		background-color: @accentColor;
	}
}



table, th, td{
	border: 1px solid white;
}

table{

	tr{
		&:nth-child(2n+1){
			background-color: rgba(0,0,0,.02);
		}
		&:nth-child(2n){
			background-color: rgba(0,0,0,.01);
		}
		th{
			color:white;
			background-color: @accentColor;
		}
	}
}


/* Gallery Shortcode */
.gallery-row { padding: 15px 0; }


h2{
	&.entry-title{
		border-bottom: 1px solid @borderColor;
		padding-bottom: 20px;
		&:after{
			color:@accentColor;
		}
	}
}

/* ==========================================================================
   Posts Formats
   ========================================================================== */
.format-aside{
	background-color: @accentColor;
	color: white;
}

/* ==========================================================================
   Posts
   ========================================================================== */

.hentry header { }
.hentry time { }
.hentry .byline { }
.hentry .entry-content { }
.hentry footer { }
.content-info { }

/* ==========================================================================
	EDD - Shop
   ========================================================================== */
.ec-edd-submit-button{
	background-color:transparent;
	border-color:@borderColor;
	color: @borderColor;
	&:hover{
		background-color:@accentColor;
		border-color:@accentColor;
		color: white;
	}
}


.ec_edd_download_inner{
	border-color: @borderColor;
	&:hover{
		box-shadow: 0px 5px 7px @borderColor;
	}
	.data{
		.mask{
			text-align: center;
			.edd-submit{
				&.button{
					&.flat{
						background-color: rgba(0,0,0,.5);
						color:white;
						border-color: rgba(0,0,0,.6);
						margin-top: 32%;
						&:hover{
							background-color: rgba(0,0,0,.75);
						}
					}
				}
			}
		}
	}
	.details{
		h3{
			a{
				color: @siteFontColor;
				&:hover{
					color:@accentColor;
					text-decoration: none;
				}
			}
			border-bottom: 1px dashed @borderColor;
		}
		.title{
			margin-bottom: 1em;
		}
		.edd-submit{
			&.button{
				&.flat{
					.ec-edd-submit-button();
				}
			}
		}
	}
}

.edd_price_options {
	label {
		border-color: @borderColor;
	}
}

.edd_purchase_submit_wrapper{
	.edd-submit{
		&.button{
			&.flat{
				.ec-edd-submit-button();
			}
		}
	}
}

/* ==========================================================================
	EDD - Single Download
   ========================================================================== */
.single-download{
	.description{
		.edd_purchase_submit_wrapper{
			.edd-submit{
				&.button{
					&.flat{
						.ec-edd-submit-button();
					}
				}
			}
		}
	}
	.excerpt{
		margin-top: 1em;
	}
	.full-description{
		.tab{
			ul{
				li{
					background-color: @accentColor;
					color: white;
				}
			}
		}
		.divider{
			height: 5px;
			background-color: @accentColor;
		}
		.product-description{
			border: 1px solid @borderColor;
			border-top: none;
		}
	}
}

 /* ==========================================================================
	EDD - Checkout
   ========================================================================== */

#edd_checkout_cart {
	tr{
		background: white !important;
	}
	th, td{
		background: white !important;
		border-top-color:@siteBgColor !important;
		border-left-color:@siteBgColor !important;
		border-right-color:@siteBgColor !important;

	}
	.edd_cart_header_row{
		th{
			color: @borderColor;
			text-transform: uppercase;
			font-size: .85em;
		}
	}
	.edd-submit{
		&.button{
			.ec-edd-submit-button();
		}
	}
}
#edd_purchase_form{
	.edd-submit{
		&.button{
			.ec-edd-submit-button();
		}
	}
}

#edd_checkout_form_wrap{
	.wrapper{
		border-bottom: 1px solid @borderColor;
		border-left: 1px solid @borderColor;
		border-right: 1px solid @borderColor;
		border-top: 0 none;
	}
	.divider{
		background: @accentColor;
		height: 5px;
	}

	#edd-payment-mode-wrap{
		.edd-payment-mode-label{
			background: @accentColor;
			color: white;
			min-width: 300px;
		}
	}
	legend{
		background: @accentColor;
		color: white;
	}

	fieldset{
		&#edd_cc_fields{
			background: @siteBgColor;
		}
	}
}